<h1>Hello from edit.....</h1>

<h1>Student</h1>
<%= form_with model: @student, url: student_update_path, multipart: true, method: :PUT  do |form| %>
  <div class="mb-3">
    <%= form.label "First Name"%>
    <%= form.text_field :studFName, class: "form-control", placeholder: "First Name"%>
  </div>
  <div class="mb-3">
    <%= form.label "Middel Name"%>
    <%= form.text_field :studMName, class: "form-control", placeholder: "Middle Name"%>
  </div>
  <div class="mb-3">
    <%= form.label "Last Name"%>
    <%= form.text_field :studLName, class: "form-control", placeholder: "Last Name"%>
  </div>
  <div class="mb-3">
    <%= form.label "Address City"%>
    <%= form.text_field :studAddressCity, class: "form-control", placeholder: "City"%>
  </div>
  <div class="mb-3">
    <%= form.label "phone Number"%>
    <%= form.number_field :studPhone, class: "form-control", placeholder: "Phone Number"%>
  </div>
  <div class="mb-3">
    <label>Gender</label>
    <div class="form-check">
      <%= form.radio_button :studGender, 'Male', class: "form-check-input" %>
      <%= form.label :studGender_male, class: "form-check-label" do %>
        Male
      <% end %>
    </div>
    <div class="form-check">
      <%= form.radio_button :studGender, 'Female', class: "form-check-input" %>
      <%= form.label :studGender_female, class: "form-check-label" do %>
        Female
      <% end %>
    </div>
  </div>
  <div class="mb-3">
    <%= form.label "Year of Enroll"%>
    <%= form.datetime_field :yearOfEnroll, class: "form-control", placeholder: "Year"%>
  </div>
  <div class="mb-3">
    <%= form.submit "ADD", class: "btn btn-primary"%>
  </div>
<%end%>
