<%= stylesheet_link_tag('student_show') %>


<div class="nav">
  <h1>Student-<%=@student.id%></h1>
  <div class="edit-section">
    <h4 class="edit"><%= link_to "Home", student_index_path%></h4>
    <h4 class="edit"><%= link_to "Edit", student_edit_path%></h4>
    <h4 class="edit"><%= link_to "Delete",  student_delete_path(@student), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></h4>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <%# <div class="row image"> %>
    <%# <% if blog.image.attached? %>
    <%# <img src=<%=(url_for(blog.image))> %>
    <%# <% end %>
    <%# </div> %>
    <div class="text">
      <a class="row title" href="/student/<%= @student.id %>">
        <h3><%= @student.studFName %></h3>
      </a>
      <div class="row">
        <p class="article"> <%= @student.studFName %> <%= @student.studMName %> <%= @student.studLName %></p>
        <p class="">Address- <%= @student.studAddressCity%></p>
        <p class="">Gender- <%= @student.studGender%></p>
        <p class="">Phone Number- <%= @student.studPhone%></p>
        <p class="">Admission Year- <%= @student.yearOfEnroll%></p>
      </div>
    </div>
  </div>
</div>
