<%= stylesheet_link_tag('student_index') %>
<%= render partial: "shared/nav"%>
<div class="nav">
  <h1><%= @student.studFName%></h1>
  <h4><%= link_to "Back", student_index_path%></h4>
</div>
<div class="row">
  <% @all_courses.each do |course|%>
    <div class="col-3 card">
      <div class="text">
        <% if  @student_id %>
          <h3><%= link_to "#{course.courseTitle}", course_show_path(student_id: @student_id, course_id: course.id)%></h3>
        <%else %>
          <a class="row title" href="/course/<%= course.id %>">
            <h3><%= course.courseTitle %></h3>
          </a>
        <%end%>
        <div class="row">
          <p class="article"><%= course.courseDescription %></p>
          <p class="article">Module- <%= course.courseDuration %></p>
        </div>
        <% if @student.id %>
            <h4 class="edit"><%= link_to "Remove",  student_delete_course_path(student_id: @student.id, course_id: course.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></h4>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
