<div class="card-container">
  <div class="card-img">
    <%= image_tag("c9.png")%>
  </div>
  <div class="card-user p-all-2">
    <div><b>Personal</b></div>
    <div><b>Teams</b></div>
  </div>
  <div class="course-price-details">
    <div class="course-amount">
      <div id="price-tag"><b>&#x20B9; 449</b></div>
      <div><s>&#x20B9; 3,199</s></div>
      <div>86% off</div>
    </div>
    <div class="course-buy-tag">
      <button class="buy-course-btn p-1" type="button">Buy this course</button>
      <button class="like-btn p-1" type="button"><i class="fa-regular fa-heart"></i></button>
    </div>
    <div class="refund-challenge p-1">
      <p>30-Day Money-Back Guarantee</p>
      <p>Full Lifetime Access</p>
    </div>
    <div class="refferal-link">
      <%= link_to "Share"%>
      <%= link_to "Gift this"%>
      <%= link_to "Apply Cupon"%>
    </div>
    <span class="or p-2">or</span>
    <h5> Subscribe to Udemy’s top courses</h5>
    <p>Get this course, plus 10,500+ of our top-rated courses, with Personal Plan. <%= link_to "Learn more"%></p>
    <div class=""> <button class="subscription-btn p-1" type="button">Start subscription</button></div>
    <div class="refund-challenge p-1">
      <p>Starting at ₹750 per month</p>
      <p>Cancle anytime</p>
    </div>
  </div>
</div>
