<div class="footer">
  <div class="sub-footer">
    <div class="footer-element">
      <ul>
        <li><%= link_to "Udemy Business"%></li>
        <li><%= link_to "Tech on udemy"%></li>
        <li><%= link_to "Get the app"%></li>
        <li><%= link_to "About Us"%></li>
        <li><%= link_to "Contact Us"%></li>
      </ul>
      <ul>
        <li><%= link_to "Career"%></li>
        <li><%= link_to "Blog"%></li>
        <li><%= link_to "Helo & Support"%></li>
        <li><%= link_to "Affliate"%></li>
        <li><%= link_to "Investors"%></li>
      </ul>
      <ul>
        <li><%= link_to "Terms"%></li>
        <li><%= link_to "Privacy policy"%></li>
        <li><%= link_to "Cookie"%></li>
        <li><%= link_to "Sitemap"%></li>
        <li><%= link_to "Accessibility statement"%></li>
      </ul>
    </div>
    <div> <button class="moretopics-btn" id="explore-more"><i class="fa-solid fa-globe"></i> English</button></div>
  </div>
</div>