<%= form_with model: course, url: url, multipart: true, method: method  do |form| %>
  <div class="mb-3">
    <%= form.label "Course Name"%>
    <%= form.text_field :courseTitle, class: "form-control", placeholder: "Course Name"%>
  </div>
  <div class="mb-3">
    <%= form.label "Course Duration"%>
    <%= form.number_field :courseDuration, class: "form-control", placeholder: "Duration"%>
  </div>
  <div class="mb-3">
    <%= form.label "Total Module"%>
    <%= form.number_field :courseModule, class: "form-control", placeholder: "Module"%>
  </div>
  <div class="mb-3">
    <%= form.label "Course Details"%>
    <%= form.text_field :courseDescription, class: "form-control", placeholder: "Description"%>
  </div>
  <div class="mb-3">
    <%= form.label "Course Price"%>
    <%= form.number_field :coursePrice, class: "form-control", placeholder: "Total Price"%>
  </div>
  <div class="mb-3">
    <%= form.label "Upload Image"%>
    <%= form.file_field :course_image, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= form.submit "ADD", class: "btn btn-primary"%>
  </div>
<%end%>
