<%= stylesheet_link_tag('student_show') %>
<h1>Hello from show...</h1>
<div class="nav">
  <h1>Course-<%=@course.id%></h1>
  <% if !@student_id%>
    <div class="edit-section">
      <h4 class="edit"><%= link_to "Home", course_index_path%></h4>
      <h4 class="edit"><%= link_to "Edit", course_edit_path%></h4>
      <h4 class="edit"><%= link_to "Delete",  course_delete_path(@course), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></h4>
    </div>
  <%end%>
</div>
<div class="row">
  <div class="col-4">
    <div class="text">
      <h3><%= @course.courseTitle %></h3>
      <div class="row">
        <p class="">Duration of Course- <%= @course.courseDuration%></p>
        <p class="">Course Description- <%= @course.courseDescription%></p>
        <p class="">Course Price- <%= @course.coursePrice%></p>
      </div>
      <%if @student_id%>
        <%= button_to "Buy Now", course_buy_path(student_id: @student_id,course_id: @course.id), class: "btn btn-primary" %>
      <%end%>
    </div>
  </div>
</div>
